@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.mode-line {
    font-family: Terminus;
    font-size: 14px !important;
    padding: 0px !important;
     -moz-appearance: none;
    background-color: #555753 !important;
    font-weight: bold !important;
}

.mode-line label {
    color: #8ae234 !important;
}