@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.mode-line {
    font-family: Gohufont;
    font-size: 14px !important;
    font-weight: bold !important;
    background-color: #555753 !important;
}

.mode-line label {
    color: #8ae234 !important;
}