@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#tab2-bar {
    background: #2e3436;
}

.tab2 {
    -moz-box-align: center;
    margin: 3px 3px 3px 3px;
    min-width: 10em;
    max-width: 15em;
    border-style: dashed;
    border-width: 1px;
    background: #2e3436;
    color: #eeeeec;
    font-family: Terminus;
    font-size: 14px;
}

.tab2[selected=true] {
    background: #555753;
    color: #8ae234;
    border-style: solid;
    font-family: Terminus;
    font-size: 14px;
}

.tab2:hover {
    background: #2e3436;
    color: #3465a4;
}

.tab2-label {
    -moz-box-flex: 100;
    margin-left: 4pt;
    padding-top: 1pt;
    color: #eeeeeec;
    font-family: Terminus;
    font-size: 14px;
}

.tab2-label[selected=true] {
    color: #8ae234;
}

.tab2-icon {
    width: 16px;
    height: 16px;
    -moz-margin-start: 4pt;
    -moz-margin-end: 3pt;
    background: #555753;
    color: #eeeeec;
    font-family: Terminus;
    font-size: 14px;
    text-align: center;
}