# -*- mode: Conf -*-

# Maximum and minimum number of peers to connect to per torrent.
max_peers = 52

# Same as above but for seeding completed torrents (-1 = same as downloading)
max_peers_seed = 52

# Maximum number of simultanious uploads per torrent
max_uploads = 8

# Global upload and download rate in KiB
download_rate = 0
upload_rate = 20

# Default directory to save the downloaded torrents
directory = /home/drot/Downloads

# Default session directory
session = /home/drot/.session

# Watch a directory for new torrents, and stop those that have been deleted.
schedule = watch_directory,5,5,load_start=/home/drot/Downloads/*.torrent

# Port range to use for listening.
port_range = 49164-49164

# Check hash for finished torrents.
check_hash = yes

# Set whetever the client should try to connect to UDP trackers.
use_udp_trackers = yes

# Enable encryption
encryption = allow_incoming,try_outgoing,enable_retry

# Enable DHT
dht = auto

# UDP port to use for DHT
dht_port = 6881

# Enable peer exchange (for torrents not marked private)
peer_exchange = yes

# Untie torrents upon completion
system.method.set_key = event.download.finished,remove_torrent,"execute=rm,$d.get_tied_to_file="

# Remove untied (closed) torrents
schedule = untied_directory,5,5,remove_untied=
