! Cursor
Xcursor.theme: Adwaita

! Emacs
Emacs.font: Terminus-10
Emacs.background: #3F3F3F
Emacs.menuBar: off
Emacs.toolBar: off
Emacs.verticalScrollBars: off

! URXVT

! General
URxvt*urgentOnBell: true
URxvt*saveLines: 65535

! Release Ctrl/Shift bindings
URxvt*iso14755: false
URxvt*iso14755_52: false

! Scrolling
URxvt*scrollBar: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

! Mouseless URL selection
URxvt*perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt*url-select.launcher: firefox
URxvt*url-select.underline: true
URxvt*matcher.button: 1
URxvt*keysym.M-u: perl:url-select:select_next
URxvt*keysym.M-Escape: perl:keyboard-select:activate
URxvt*keysym.M-s: perl:keyboard-select:search

! Font
URxvt*font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-*
URxvt*boldFont: -*-terminus-bold-*-*-*-14-*-*-*-*-*-iso10646-*

! Colors
URxvt*background: #3F3F3F
URxvt*foreground: #DCDCCC

URxvt*cursorColor: #DCDCCC
URxvt*cursorColor2: #3F3F3F

URxvt*colorUL: #8CD0D3
URxvt*underlineColor: #F0DFAF

URxvt*colorBD: #E0CF9F
URxvt*colorIT: #656555

! Black Dark/Light
URxvt*color0: #3F3F3F
URxvt*color8: #5F5F5F
! Red Dark/Light
URxvt*color1: #BC8383
URxvt*color9: #CC9393
! Green Dark/Light
URxvt*color2: #5F7F5F
URxvt*color10: #7F9F7F
! Yellow Dark/Light
URxvt*color3: #E0CF9F
URxvt*color11: #F0DFAF
! Blue Dark/Light
URxvt*color4: #7CB8BB
URxvt*color12: #8CD0D3
! Magenta Dark/Light
URxvt*color5: #DC8CC3
URxvt*color13: #DC8CC3
! Cyan Dark/Light
URxvt*color6: #93E0E3
URxvt*color14: #93E0E3
! White Dark/Light
URxvt*color7: #DCDCCC
URxvt*color15: #FFFFFF

! XTerm

! General
XTerm*locale: true
XTerm*termName: xterm-256color
XTerm*bellIsUrgent: true
XTerm*saveLines: 65535

! Release Meta binding
XTerm*fullscreen: never
XTerm*metaSendsEscape: true
XTerm*eightBitInput: false

! Scrolling
XTerm*ScrollBar: false
XTerm*ScrollKey: true

! Dabbrev expand
XTerm*VT100.Translations: #override \n\ Meta <KeyPress> /:dabbrev-expand()

! Font
XTerm*font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-*
XTerm*boldFont: -*-terminus-bold-*-*-*-14-*-*-*-*-*-iso10646-*

! Colors
XTerm*background: #3F3F3F
XTerm*foreground: #DCDCCC

XTerm*cursorColor: #DCDCCC

XTerm*colorUL: #8CD0D3

XTerm*colorBD: #E0CF9F
XTerm*colorIT: #656555

! Black Dark/Light
XTerm*color0: #3F3F3F
XTerm*color8: #5F5F5F
! Red Dark/Light
XTerm*color1: #BC8383
XTerm*color9: #CC9393
! Green Dark/Light
XTerm*color2: #5F7F5F
XTerm*color10: #7F9F7F
! Yellow Dark/Light
XTerm*color3: #E0CF9F
XTerm*color11: #F0DFAF
! Blue Dark/Light
XTerm*color4: #7CB8BB
XTerm*color12: #8CD0D3
! Magenta Dark/Light
XTerm*color5: #DC8CC3
XTerm*color13: #DC8CC3
! Cyan Dark/Light
XTerm*color6: #93E0E3
XTerm*color14: #93E0E3
! White Dark/Light
XTerm*color7: #DCDCCC
XTerm*color15: #FFFFFF

! XMessage
Xmessage*font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-*
Xmessage*background: red
Xmessage*foreground: yellow
Xmessage*form.*.shapeStyle: rectangle
Xmessage*Scrollbar.width: 1
Xmessage*Scrollbar.borderWidth: 0
Xmessage*Buttons: OK
Xmessage*defaultButton: OK
