! Cursor
Xcursor.theme: Neutral

Emacs.font: Terminus-10

! URXVT
! General
URxvt.loginShell: true
URxvt.termName: rxvt-unicode-256color
URxvt.saveLines: 80000
URxvt.urgentOnBell: true
URxvt.underlineURLs: true
URxvt.internalBorder: 0

! Scrolling
URxvt.scrollBar: false
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

! Extensions
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: conkeror
URxvt.matcher.button: 1

! Font
URxvt.font: -xos4-terminus-medium-*-*-*-14-*-*-*-*-*-iso8859-2
URxvt.boldFont: -xos4-terminus-bold-*-*-*-14-*-*-*-*-*-iso8859-2

! Zenburn color theme
URxvt.colorUL: #8CD0D3
URxvt.cursorColor: #DCDCCC
URxvt.cursorColor2: #3F3F3F
URxvt.underlineColor: #F0DFAF
URxvt.colorBD: #E0CF9F
URxvt.colorIT: #656555

URxvt.background: #3F3F3F
URxvt.foreground: #DCDCCC

!! black dark/light
URxvt.color0: #3F3F3F
URxvt.color8: #5F5F5F
!! red dark/light
URxvt.color1: #BC8383
URxvt.color9: #CC9393
!! green dark/light
URxvt.color2: #5F7F5F
URxvt.color10: #7F9F7F
!! yellow dark/light
URxvt.color3: #E0CF9F
URxvt.color11: #F0DFAF
!! blue dark/light
URxvt.color4: #7CB8BB
URxvt.color12: #8CD0D3
!! magenta dark/light
URxvt.color5: #DC8CC3
URxvt.color13: #DC8CC3
!! cyan dark/light
URxvt.color6: #93E0E3
URxvt.color14: #93E0E3
!! white dark/light
URxvt.color7: #DCDCCC
URxvt.color15: #FFFFFF
