! Cursor
Xcursor.theme: Adwaita

! Emacs
Emacs.font: Terminus-10
Emacs.background: #3f3f3f
Emacs.menuBar: off
Emacs.toolBar: off
Emacs.verticalScrollBars: off

! URXVT

! General
URxvt*urgentOnBell: true
URxvt*saveLines: 65535

! Release Ctrl/Shift bindings
URxvt*iso14755: false
URxvt*iso14755_52: false

! Scrolling
URxvt*scrollBar: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

! Mouseless URL selection
URxvt*perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt*url-select.launcher: firefox
URxvt*url-select.underline: true
URxvt*matcher.button: 1
URxvt*keysym.M-u: perl:url-select:select_next
URxvt*keysym.M-Escape: perl:keyboard-select:activate
URxvt*keysym.M-s: perl:keyboard-select:search

! Font
URxvt*font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-*
URxvt*boldFont: -*-terminus-bold-*-*-*-14-*-*-*-*-*-iso10646-*

! Colors
URxvt*background: #3f3f3f
URxvt*foreground: #dcdccc

URxvt*cursorColor: #dcdccc
URxvt*cursorColor2: #3f3f3f

URxvt*colorUL: #8cd0d3
URxvt*underlineColor: #f0dfaf

URxvt*colorBD: #e0cf9f
URxvt*colorIT: #656555

! Black Dark/Light
URxvt*color0: #3f3f3f
URxvt*color8: #5f5f5f
! Red Dark/Light
URxvt*color1: #bc8383
URxvt*color9: #cc9393
! Green Dark/Light
URxvt*color2: #5f7f5f
URxvt*color10: #7f9f7f
! Yellow Dark/Light
URxvt*color3: #e0cf9f
URxvt*color11: #f0dfaf
! Blue Dark/Light
URxvt*color4: #7cb8bb
URxvt*color12: #8cd0d3
! Magenta Dark/Light
URxvt*color5: #dc8cc3
URxvt*color13: #dc8cc3
! Cyan Dark/Light
URxvt*color6: #93e0e3
URxvt*color14: #93e0e3
! White Dark/Light
URxvt*color7: #dcdccc
URxvt*color15: #ffffff

! XTerm

! General
XTerm*locale: true
XTerm*termName: xterm-256color
XTerm*bellIsUrgent: true
XTerm*saveLines: 65535

! Release Meta binding
XTerm*fullscreen: never
XTerm*metaSendsEscape: true
XTerm*eightBitInput: false

! Scrolling
XTerm*ScrollBar: false
XTerm*ScrollKey: true

! Dabbrev expand
XTerm*VT100.Translations: #override \n\ Meta <KeyPress> /:dabbrev-expand()

! Font
XTerm*font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-*
XTerm*boldFont: -*-terminus-bold-*-*-*-14-*-*-*-*-*-iso10646-*

! Colors
XTerm*background: #3f3f3f
XTerm*foreground: #dcdccc

XTerm*cursorColor: #dcdccc

XTerm*colorUL: #8cd0d3

XTerm*colorBD: #e0cf9f
XTerm*colorIT: #656555

! Black Dark/Light
XTerm*color0: #3f3f3f
XTerm*color8: #5f5f5f
! Red Dark/Light
XTerm*color1: #bc8383
XTerm*color9: #cc9393
! Green Dark/Light
XTerm*color2: #5f7f5f
XTerm*color10: #7f9f7f
! Yellow Dark/Light
XTerm*color3: #e0cf9f
XTerm*color11: #f0dfaf
! Blue Dark/Light
XTerm*color4: #7cb8bb
XTerm*color12: #8cd0d3
! Magenta Dark/Light
XTerm*color5: #dc8cc3
XTerm*color13: #dc8cc3
! Cyan Dark/Light
XTerm*color6: #93e0e3
XTerm*color14: #93e0e3
! White Dark/Light
XTerm*color7: #dcdccc
XTerm*color15: #ffffff

! XMessage
Xmessage*font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-*
Xmessage*background: red
Xmessage*foreground: yellow
Xmessage*form.*.shapeStyle: rectangle
Xmessage*Scrollbar.width: 1
Xmessage*Scrollbar.borderWidth: 0
Xmessage*Buttons: OK
Xmessage*defaultButton: OK
