! Font hinting settings
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Cursor
Xcursor.theme: Adwaita

! Emacs
Emacs.font: Iosevka Lambda-15
Emacs.background: #222222
Emacs.menuBar: off
Emacs.toolBar: off
Emacs.verticalScrollBars: off

! XTerm
XTerm.termName: xterm-256color
XTerm.vt100.Locale: true
XTerm.vt100.bellIsUrgent: true
XTerm.vt100.saveLines: 65535

! Set default geometry
XTerm.vt100.geometry: 120x30

! Release Meta binding
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.eightBitInput: false

! Disable full screen key binding
XTerm.Fullscreen: never

! Scrolling
XTerm.vt100.ScrollBar: false
XTerm.vt100.ScrollKey: true
XTerm.vt100.alternateScroll: true

! URL selection
XTerm.vt100.charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48

! Enable additional key translations for URL following, abbrev expansion and copy/paste
XTerm.vt100.Translations: #override \n\
   Meta <KeyPress> o: exec-formatted("xdg-open '%t'", PRIMARY) select-start() select-end() \n\
   Meta Shift <KeyPress> /: dabbrev-expand() \n\
   Ctrl Shift <KeyPress> C: copy-selection(CLIPBOARD) \n\
   Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD)

! Font
XTerm.vt100.faceName: Iosevka Lambda
XTerm.vt100.faceSize: 15

! Main colors
XTerm.vt100.Foreground: #cccccc
XTerm.vt100.Background: #0c0c0c
XTerm.vt100.cursorColor: #cccccc

! Stylized colors
XTerm.vt100.colorIT: #13a10e
XTerm.vt100.colorBD: #cccccc
XTerm.vt100.colorUL: #0037da

! Menu colors
XTerm.mainMenu.Background: #767676
XTerm.vtMenu.Background: #767676
XTerm.fontMenu.Background: #767676

! Colors
XTerm.vt100.color0: #0c0c0c
XTerm.vt100.color1: #c50f1f
XTerm.vt100.color2: #13a10e
XTerm.vt100.color3: #c19c00
XTerm.vt100.color4: #0037da
XTerm.vt100.color5: #881798
XTerm.vt100.color6: #3a96dd
XTerm.vt100.color7: #cccccc
XTerm.vt100.color8: #767676
XTerm.vt100.color9: #e74856
XTerm.vt100.color10: #16c60c
XTerm.vt100.color11: #f9f1a5
XTerm.vt100.color12: #3b78ff
XTerm.vt100.color13: #b4009e
XTerm.vt100.color14: #61d6d6
XTerm.vt100.color15: #f2f2f2

! Xautolock
Xautolock.corners: -000
Xautolock.time: 5
Xautolock.locker: ~/.scripts/lock-screen

! Zutty
Zutty.geometry: 120x30
Zutty.altScroll: true
Zutty.font: iosevka-lambda
Zutty.fontsize: 20
Zutty.fontpath: /home/drotim/.local/share/fonts:/usr/share/fonts
Zutty.saveLines: 10000

! Main colors
Zutty.fg: #cccccc
Zutty.bg: #0c0c0c
Zutty.cr: #cccccc

! Colors
Zutty.color0: #0c0c0c
Zutty.color1: #c50f1f
Zutty.color2: #13a10e
Zutty.color3: #c19c00
Zutty.color4: #0037da
Zutty.color5: #881798
Zutty.color6: #3a96dd
Zutty.color7: #cccccc
Zutty.color8: #767676
Zutty.color9: #e74856
Zutty.color10: #16c60c
Zutty.color11: #f9f1a5
Zutty.color12: #3b78ff
Zutty.color13: #b4009e
Zutty.color14: #61d6d6
Zutty.color15: #f2f2f2
