! Font hinting settings
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Cursor
Xcursor.theme: Adwaita

! Emacs
Emacs.font: fontset-startup
Emacs.Fontset-0:-JB  -JetBrains Mono-normal-normal-normal-*-17-*-*-*-m-0-fontset-startup,\
    arabic:-GOOG-Noto Sans Arabic-normal-normal-normal-*-16-*-*-*-*-0-iso10646-1,\
    burmese:-GOOG-Noto Sans Myanmar-normal-normal-normal-*-16-*-*-*-*-0-iso10646-1,\
    ethiopic:-GOOG-Noto Sans Ethiopic-normal-normal-normal-*-16-*-*-*-*-0-iso10646-1,\
    gujarati:-GOOG-Noto Sans Gujarati-normal-normal-normal-*-16-*-*-*-*-0-iso10646-1,\
    hangul:-GOOG-Noto Sans CJK KR-normal-normal-normal-*-16-*-*-*-*-0-iso10646-1,\
    han:-GOOG-Noto Sans CJK TC-normal-normal-normal-*-16-*-*-*-*-0-iso10646-1,\
    hebrew:-GOOG-Noto Sans Hebrew-normal-normal-normal-*-16-*-*-*-*-0-iso10646-1,\
    kana:-GOOG-Noto Sans CJK JP-normal-normal-normal-*-16-*-*-*-*-0-iso10646-1,\
    thai:-GOOG-Noto Sans Thai-normal-normal-normal-*-16-*-*-*-*-0-iso10646-1
Emacs.background: #222222
Emacs.menuBar: off
Emacs.toolBar: off
Emacs.verticalScrollBars: off
Emacs.cursorBlink: off

! XTerm
XTerm.vt100.Locale: true
XTerm.vt100.termName: xterm-256color
XTerm.vt100.bellIsUrgent: true
XTerm.vt100.saveLines: 65535
XTerm.vt100.borderWidth: 0

! Release Meta binding
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.eightBitInput: false

! Scrolling
XTerm.vt100.ScrollBar: false
XTerm.vt100.ScrollKey: true

! Dabbrev expand
XTerm.vt100.Translations: #override \n\ Meta <KeyPress> /:dabbrev-expand()

! Font
XTerm.vt100.faceName: JetBrains Mono NL
XTerm.vt100.faceSize: 13

! Main colors
XTerm.vt100.Foreground: #c5c8c6
XTerm.vt100.Background: #1d1f21
XTerm.vt100.cursorColor: #c5c8c6

! Stylized colors
XTerm.vt100.colorIT: #b5bd68
XTerm.vt100.colorBD: #c5c8c6
XTerm.vt100.colorUL: #81a2be

! Colors
XTerm.vt100.color0: #1d1f21
XTerm.vt100.color1: #cc6666
XTerm.vt100.color2: #b5bd68
XTerm.vt100.color3: #f0c674
XTerm.vt100.color4: #81a2be
XTerm.vt100.color5: #b294bb
XTerm.vt100.color6: #8abeb7
XTerm.vt100.color7: #c5c8c6
XTerm.vt100.color8: #969896
XTerm.vt100.color9: #cc6666
XTerm.vt100.color10: #b5bd68
XTerm.vt100.color11: #f0c674
XTerm.vt100.color12: #81a2be
XTerm.vt100.color13: #b294bb
XTerm.vt100.color14: #8abeb7
XTerm.vt100.color15: #ffffff
