/* https://userstyles.org/styles/134531/simple-dark-blue-wiki-theme */

@-moz-document domain("wikipedia.org"), domain("wikimedia.org"), domain("wiktionary.org"), domain("wikibooks.org") {

  /* *** Basic *** */

  * {
    background-color: transparent !important;
    color: #BCBCBC !important;
  }

  a {
    color: #4be !important;
  }

  a:visited:hover {
    color: #baf !important;
  }

  a:visited {
    color: #98f !important;
  }

  a:hover {
    color: #7df !important;
  }

  div.vectorTabs li.selected {
    font-weight:bold
  }

  .mw-mmv-dialog, .oo-ui-menuSelectWidget,

  .tipsy,.suggestions {
    background-color: rgba(32,32,64,.85) !important;
  }

  .tipsy {
    padding: 0px
  }

  .mw-mmv-dialog {
    box-shadow: 0 0 0;
    border: 1px solid #3366cc;
  }

  body, form, table, tbody, tr, td, fieldset, ul, li,

  #content, #bodyContent, div#mw-head {
    background-color: #151515 !important;
  }

  /* *** Form Elements *** */

  input, select, button, checkbox {
    -moz-appearance: none !important;
    border: 1px white solid !important;
    outline: none !important;
    background-color: #333 !important;
  }

  div#simpleSearch {
    background: none;
  }

  #simpleSearch {
    border: none !important;
  }

  /* *** Main *** */

  #content {
    font-family: sans-serif !important;
    font-size: 12pt !important;
    border: 0 !important;
  }

  div#siteNotice {
    display: none !important;
  }

  p {
    border: none !important;
  }

  a:visited {
    font-weight: bold !important;
    opacity: 0.65 !important;
  }

  h2 {
    border-bottom: #ccc 1px solid !important;
    font-size: 120% !important;
  }

  h2 > span {
    color: white !important;
  }

  h2 > span > span {
    color: white !important;
    font-size: 100% !important;
  }

  fieldset{
    border-color: #ddd !important;
  }

  #bodyContent ul {
    list-style-image: none !important;
    list-style-type: disc !important;
  }

  #toc ul {
    list-style-type: none !important;
  }

  .thumb {
    border-color: #333 !important;
  }

  /* *** Tabs *** */

  #searchButton {
    display: none !important;
  }

  div.vectorTabs,

  div.vectorTabs ul,

  div.vectorTabs ul > li,

  div.vectorTabs ul > li > a,

  div.vectorTabs span,

  .wikiEditor-ui-toolbar

  {
    background-image: none !important;
    border: none !important;
  }

  #right-navigation > .vectorMenu,

  #ca-watch {
    display: none !important;
  }

  div.vectorTabs ul > li > a > span{
    padding: 0 !important;
  }

  div.vectorTabs ul > li > a {
    outline: 1px #888 solid !important;
    margin: 0 0.5em;
    height: auto !important;
    font-weight: normal !important;
  }

  div.vectorTabs ul > li > a:hover {
    text-decoration: none !important;
    outline: 1px #ccc solid !important;
  }

  /* *** Preference *** */

  #preftoc > li {
    outline: 1px #ccc solid !important;
    border-bottom: 5px #ccc solid !important;
  }

  .successbox {
    border-color: white !important;
  }

  /* *** Search *** */

  #search .search-types ul,

  #search .results-info ul {
    list-style-type: none !important;

  }

  /* *** Image and Math *** */

  img{
    background-color: #fdfdfd !important;
  }

  img.tex{
    padding: 5px !important;
  }

  span.tex{
    border: 1px white solid !important;
    padding: 5px !important;

  }

}
