! Font hinting settings
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Cursor
Xcursor.theme: Adwaita

! Emacs
Emacs.font: Iosevka Term SS05-12
Emacs.background: #222222
Emacs.menuBar: off
Emacs.toolBar: off
Emacs.verticalScrollBars: off
Emacs.cursorBlink: off

! URXVT
! General
URxvt*urgentOnBell: true
URxvt*saveLines: 65535

! Release Ctrl/Shift bindings
URxvt*iso14755: false
URxvt*iso14755_52: false

! Scrolling
URxvt*scrollBar: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

! URL selection
URxvt*perl-ext-common: default,matcher
URxvt*url-select.launcher: firefox
URxvt.keysym.C-Delete: matcher:last
URxvt.keysym.M-Delete: matcher:list
URxvt*matcher.button: 1

! Font
URxvt*font: xft:Iosevka Term SS05:pixelsize=16,xft:Noto Emoji:size=12
URxvt*boldFont: xft:Iosevka Term SS05:bold:pixelsize=16,xft:Noto Emoji:size=12
URxvt*letterSpace: -1

! Colors
URxvt*foreground: #c5c8c6
URxvt*background: #1d1f21
URxvt*cursorColor: #c5c8c6

! Stylized
URxvt*colorIT: #b5bd68
URxvt*colorBD: #c5c8c6
URxvt*colorUL: #81a2be

! Black Dark/Light
URxvt*color0: #1d1f21
URxvt*color8: #969896
! Red Dark/Light
URxvt*color1: #cc6666
URxvt*color9: #cc6666
! Green Dark/Light
URxvt*color2: #b5bd68
URxvt*color10: #b5bd68
! Yellow Dark/Light
URxvt*color3: #f0c674
URxvt*color11: #f0c674
! Blue Dark/Light
URxvt*color4: #81a2be
URxvt*color12: #81a2be
! Magenta Dark/Light
URxvt*color5: #b294bb
URxvt*color13: #b294bb
! Cyan Dark/Light
URxvt*color6: #8abeb7
URxvt*color14: #8abeb7
! White Dark/Light
URxvt*color7: #c5c8c6
URxvt*color15: #ffffff

! XTerm
! General
XTerm*locale: true
XTerm*termName: xterm-256color
XTerm*bellIsUrgent: true
XTerm*saveLines: 65535
XTerm*borderWidth: 0

! Release Meta binding
XTerm*fullscreen: never
XTerm*metaSendsEscape: true
XTerm*eightBitInput: false

! Scrolling
XTerm*ScrollBar: false
XTerm*ScrollKey: true

! Dabbrev expand
XTerm*VT100.Translations: #override \n\ Meta <KeyPress> /:dabbrev-expand()

! Font
XTerm*faceName: Iosevka Term SS05:pixelsize=16

! Colors
XTerm*foreground: #c5c8c6
XTerm*background: #1d1f21
XTerm*cursorColor: #c5c8c6

! Stylized
XTerm*colorIT: #b5bd68
XTerm*colorBD: #c5c8c6
XTerm*colorUL: #81a2be

! Black Dark/Light
XTerm*color0: #1d1f21
XTerm*color8: #969896
! Red Dark/Light
XTerm*color1: #cc6666
XTerm*color9: #cc6666
! Green Dark/Light
XTerm*color2: #b5bd68
XTerm*color10: #b5bd68
! Yellow Dark/Light
XTerm*color3: #f0c674
XTerm*color11: #f0c674
! Blue Dark/Light
XTerm*color4: #81a2be
XTerm*color12: #81a2be
! Magenta Dark/Light
XTerm*color5: #b294bb
XTerm*color13: #b294bb
! Cyan Dark/Light
XTerm*color6: #8abeb7
XTerm*color14: #8abeb7
! White Dark/Light
XTerm*color7: #c5c8c6
XTerm*color15: #ffffff

! XMessage
Xmessage*font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-*
Xmessage*background: red
Xmessage*foreground: yellow
Xmessage*form.*.shapeStyle: rectangle
Xmessage*Scrollbar.width: 1
Xmessage*Scrollbar.borderWidth: 0
Xmessage*Buttons: OK
Xmessage*defaultButton: OK
