! Font hinting settings
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Cursor
Xcursor.theme: Adwaita

! Emacs
Emacs.font: Hack-11.5
Emacs.background: #222222
Emacs.menuBar: off
Emacs.toolBar: off
Emacs.verticalScrollBars: off
Emacs.cursorBlink: off

! URXVT
! General
URxvt*urgentOnBell: true
URxvt*saveLines: 65535

! Release Ctrl/Shift bindings
URxvt*iso14755: false
URxvt*iso14755_52: false

! Scrolling
URxvt*scrollBar: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

! Mouseless URL selection
URxvt*perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt*url-select.launcher: conkeror
URxvt*url-select.underline: true
URxvt*matcher.button: 1
URxvt*keysym.M-u: perl:url-select:select_next
URxvt*keysym.M-Escape: perl:keyboard-select:activate
URxvt*keysym.M-s: perl:keyboard-select:search

! Font
URxvt*font: xft:Hack:size=11,xft:Noto Emoji:size=7
URxvt*boldFont: xft:Hack:bold:size=11,xft:Noto Emoji:size=7
URxvt*letterSpace: -2

! Colors
URxvt*foreground: #c2c2b0
URxvt*background: #222222
URxvt*cursorColor: #c2c2b0

! Stylized
URxvt*colorIT: #719611
URxvt*colorBD: #d3d3d3
URxvt*colorUL: #528b8b

! Black Dark/Light
URxvt*color0: #111111
URxvt*color8: #181818
! Red Dark/Light
URxvt*color1: #aa4450
URxvt*color9: #ff6a6a
! Green Dark/Light
URxvt*color2: #719611
URxvt*color10: #b1d631
! Yellow Dark/Light
URxvt*color3: #cc8800
URxvt*color11: #ff9800
! Blue Dark/Light
URxvt*color4: #6688aa
URxvt*color12: #90b0d1
! Magenta Dark/Light
URxvt*color5: #8f6f8f
URxvt*color13: #8181a6
! Cyan Dark/Light
URxvt*color6: #528b8b
URxvt*color14: #87ceeb
! White Dark/Light
URxvt*color7: #d3d3d3
URxvt*color15: #c1cdc1

! XTerm
! General
XTerm*locale: true
XTerm*termName: xterm-256color
XTerm*bellIsUrgent: true
XTerm*saveLines: 65535
XTerm*borderWidth: 0

! Release Meta binding
XTerm*fullscreen: never
XTerm*metaSendsEscape: true
XTerm*eightBitInput: false

! Scrolling
XTerm*ScrollBar: false
XTerm*ScrollKey: true

! Dabbrev expand
XTerm*VT100.Translations: #override \n\ Meta <KeyPress> /:dabbrev-expand()

! Font
XTerm*faceName: Hack:size=11

! Colors
XTerm*foreground: #c2c2b0
XTerm*background: #222222
XTerm*cursorColor: #c2c2b0

! Stylized
XTerm*colorIT: #719611
XTerm*colorBD: #d3d3d3
XTerm*colorUL: #528b8b

! Black Dark/Light
XTerm*color0: #111111
XTerm*color8: #181818
! Red Dark/Light
XTerm*color1: #aa4450
XTerm*color9: #ff6a6a
! Green Dark/Light
XTerm*color2: #719611
XTerm*color10: #b1d631
! Yellow Dark/Light
XTerm*color3: #cc8800
XTerm*color11: #ff9800
! Blue Dark/Light
XTerm*color4: #6688aa
XTerm*color12: #90b0d1
! Magenta Dark/Light
XTerm*color5: #8f6f8f
XTerm*color13: #8181a6
! Cyan Dark/Light
XTerm*color6: #528b8b
XTerm*color14: #87ceeb
! White Dark/Light
XTerm*color7: #d3d3d3
XTerm*color15: #c1cdc1

! XMessage
Xmessage*font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-*
Xmessage*background: red
Xmessage*foreground: yellow
Xmessage*form.*.shapeStyle: rectangle
Xmessage*Scrollbar.width: 1
Xmessage*Scrollbar.borderWidth: 0
Xmessage*Buttons: OK
Xmessage*defaultButton: OK
