@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.panel {
  border-top: 4px double #8ae234 !important;
  color: #8ae234;
  background-color: #2e3436;
}

.panel .panel-row-label {
  font-weight: bold;
}

.panel .url-panel-label {
  font-weight: bold;
}
