@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#tab2-bar {
    background: #3f3f3f;
}

.tab2 {
    -moz-box-align: center;
    margin: 2px 2px 2px 2px;
    min-width: 12em;
    max-width: 12em;
    border-style: solid;
    border-width: 1px;
    border-color: #1e2320;
    background: #5f5f5f;
    color: #dcdccc;
    font-family: Hack;
    font-size: 15px;
}

.tab2[selected=true] {
    background: #1e2320;
    border-color: #5f5f5f;
    color: #f0dfaf;
    font-weight: bold;
}

.tab2:hover {
    border-color: #1e2320;
    background: #f0dfaf;
    color: #1e2320;
}

.tab2-label {
    -moz-box-flex: 100;
}

.tab2-icon {
    width: 16px;
    height: 16px;
    -moz-margin-start: 4pt;
    -moz-margin-end: 3pt;
}
