@namespace url("http://www.w3.org/1999/xhtml");

#__conkeror_eye_guide {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background: #9FC59F;
    opacity: 0.5;
    z-index: 100000;
}