@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#minibuffer {
    background-color: #3F3F3F !important;
    border-top: 0 !important;
    color: #DCDCCD !important;
    font-family: Terminus;
    font-size: 14px;
    padding: 1px;
}

#minibuffer-input {
    color: #DCDCCD !important;
}

#minibuffer-prompt {
    background-color: #2B2B2B !important;
    color: #E0CF9F !important;
    font-weight: bold;
}

/* Completions display */

tree.completions {
    -moz-appearance: none !important;
    margin: 0px !important;
    border: 0px none !important;
    background-color: #3F3F3F !important;
    color: #DCDCCD !important;
    font-family: Terminus;
    font-size: 14px;
    font-style: normal !Important;
}

tree.completions treechildren { border: none !important; }

tree.completions treecol { -moz-binding: none !important; }

tree.completions treechildren::-moz-tree-row {
    background-color: #3F3F3F !important;
}

tree.completions treechildren::-moz-tree-row(current) {
    background-color: #2B2B2B !important;
    color: #DCDCCD !important;
}

tree.completions treechildren::-moz-tree-cell-text(completion-description) {
    color: #808080 !important;
}

tree.completions treechildren::-moz-tree-cell-text(current) {
    color: #E0CF9F !important;
}

tree.completions[hasicons="true"] treechildren::-moz-tree-image {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}