@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#minibuffer {
    background-color: #3f3f3f !important;
    color: #dcdccc !important;
    font-family: Terminus;
    font-size: 14px;
}

#minibuffer-input {
    color: #dcdccc !important;
}

#minibuffer-prompt {
    margin: 0px 8px 0px 8px !important;
    border-style: solid; !important;
    border-width: 1px; !important;
    border-color: #6f6f6f; !important;
    background-color: #1e2320 !important;
    color: #dfaf8f !important;
    font-weight: bold;
}

/* Completions display */

tree.completions {
    -moz-appearance: none !important;
    margin: 0px !important;
    border: 0px none !important;
    background-color: #3f3f3f !important;
    color: #dcdccc !important;
    font-family: Terminus;
    font-size: 14px;
}

tree.completions treechildren { border: none !important; }

tree.completions treecol { -moz-binding: none !important; }

tree.completions treechildren::-moz-tree-row {
    background-color: #3f3f3f !important;
}

tree.completions treechildren::-moz-tree-row(current) {
    background-color: #1e2320 !important;
    color: #dcdccc !important;
}

tree.completions treechildren::-moz-tree-cell-text(completion-description) {
    color: #dfaf8f !important;
}

tree.completions treechildren::-moz-tree-cell-text(current) {
    color: #dfaf8f !important;
}

tree.completions[hasicons="true"] treechildren::-moz-tree-image {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}