@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.mode-line {
    -moz-appearance: none;
    background-color: #1e2320 !important;
    border-style: solid;
    border-width: 1px;
    border-color: #6f6f6f;
    font-family: Source Code Pro;
    font-size: 14px !important;
    font-weight: bold !important;
}

.mode-line label {
    color: #f0dfaf !important;
}