@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.mode-line {
    -moz-appearance: none;
    background-color: #2f2f2f !important;
    border-style: solid;
    border-width: 1px;
    border-color: #5f5f5f;
    font-family: Terminus;
    font-size: 14px !important;
    font-weight: bold !important;
}

.mode-line label {
    color: #dfaf8f !important;
}