@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#tab2-bar {
    background: #3f3f3f;
}

.tab2 {
    -moz-box-align: center;
    margin: 2px 2px 2px 2px;
    min-width: 12em;
    max-width: 12em;
    border-style: solid;
    border-width: 1px;
    border-color: #6f6f6f;
    background: #3f3f3f;
    color: #6f6f6f;
    font-family: Terminus;
    font-size: 14px;
}

.tab2[selected=true] {
    color: #dfaf8f;
}

.tab2:hover {
    border-color: #3f3f3f;
    background: #6f6f6f;
    color: #3f3f3f;
}

.tab2-label {
    -moz-box-flex: 100;
    margin-left: 4pt;
    padding-top: 1pt;
}

.tab2-icon {
    width: 16px;
    height: 16px;
    -moz-margin-start: 4pt;
    -moz-margin-end: 3pt;
}