# Readline options -*- mode: sh; -*-
$include /etc/inputrc

# Bash specific options
$if Bash
# Disable beep
set bell-style visible
# Case-insensitive completion
set completion-ignore-case on
# Use colors for completion display
set colored-stats on
# Append file type when listing completions
set visible-stats on
# Colorize completion prefix
set colored-completion-prefix on
# Display the common prefix in menu-complete
set menu-complete-display-prefix on
# Show all completions if there are none available directly
set show-all-if-ambiguous on
# Skip to beginning of already completed text
set skip-completed-text on
# Add trailing slashes to symlinks
set mark-symlinked-directories on
# Bracketed paste mode
set enable-bracketed-paste on
# Show paren matches
set blink-matching-paren on
$endif

# Use Emacs-style history search keys
"\ep": history-search-backward
"\en": history-search-forward

# Use completion menu and allow cycling
"\t": menu-complete
"\e[Z": menu-complete-backward
