# Readline options -*- mode: sh; -*-
$include /etc/inputrc

# Bash specific options
$if Bash
set completion-ignore-case on # case-insensitive completion
set colored-stats on # use colors for completion display
set visible-stats on # mark distinctive options
set colored-completion-prefix on # colorize completion prefix
set mark-symlinked-directories on #  add trailing slashes to symlinks
set enable-bracketed-paste on # bracketed paste mode
$endif

# Use Emacs-style history search keys
"\ep":history-search-backward
"\en":history-search-forward
