# Readline options -*- mode: sh; -*-
$include /etc/inputrc

# Bash specific options
$if Bash
# disable beep
set bell-style visible
# case-insensitive completion
set completion-ignore-case on
# use colors for completion display
set colored-stats on
# append file type when listing completions
set visible-stats on
# colorize completion prefix
set colored-completion-prefix on
# add trailing slashes to symlinks
set mark-symlinked-directories on
# bracketed paste mode
set enable-bracketed-paste on
# show paren matches
set blink-matching-paren on
$endif

# Use Emacs-style history search keys
"\ep": history-search-backward
"\en": history-search-forward
